:root {
  color-scheme: dark;
}
body {
  background-color: #202020;
  color: #d8d8d8;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
* {
  font-family: monospace;
  font-size: 1.1rem;
  box-sizing: border-box;
}
div#root {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 2ch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.top-bar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}
.gid-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  margin: 0 1ch;
}
.join-span {
  display: block;
  white-space: nowrap;
}
.join-select {
  background-color: #787878;
  color: black;
  width: 9ch;
  text-overflow: ellipsis;
}
.join-button {
  background-color: #6b6b6b;
  color: black;
  border: none;
  width: 5ch;
  margin: 0;
  padding: 1;
  cursor: pointer;
}
main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: calc(100% - 16em);
  width: 100%;
}
.left-menu {
  width: 14ch;
  overflow: hidden;
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.hut-list {
  margin-top: auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1 1 auto;
}
.make-hut {
  width: 13ch;
  flex: 0 0 auto;
  display: block;
}
.content {
  flex: 1 1 auto;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(216, 216, 216, 0.3);
}
.msgs {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.msg {
  margin: 0.4em 0.4em 0 16ch;
  text-indent: -16ch;
}
.who {
  width: 16ch;
  text-align: right;
  padding-right: 1ch;
  display: inline-block;
  color: rgba(216, 216, 216, 0.5);
}
.what {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.right-menu {
  height: 100%;
  width: 16ch;
  flex: 0 0 auto;
  padding-left: 2ch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.leave-button {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 1em;
  background-color: #ab4642;
  color: #d8d8d8;
  border: none;
  padding: none;
  cursor: pointer;
  width: 14ch;
}
.ppl {
  flex: 1 1 auto;
  margin-top: 5px;
  overflow-y: auto;
}
input, textarea {
  background-color: #383838;
  border: none;
  color: #d8d8d8;
}
.our {
  width: 14ch;
  display: inline-block;
  text-align: right;
  flex: 0 0 auto;
  align-self: center;
  margin-right: 2ch;
}
.input {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 6em;
  margin: 1em 0;
}
textarea {
  flex: 1 1 auto;
  border-radius: 10px;
  margin-right: 1em;
  resize: none;
}
select {
  background-color: #787878;
  color: black;
  border: 0;
  cursor: pointer;
}
.fix {flex: 1 1 auto}
label {
  display: inline-block;
  width: 8ch;
}
.conn {
  flex: 0 0 auto;
  font-size: 0.9em;
  text-align: right;
}
.out {color: rgba(216, 216, 216, 0.5)}
.current-hut {
  color: rgb(161, 181, 108);
  background-color: #181818;
  border-radius: 6px;
  border: 1px solid rgba(216, 216, 216, 0.3);
}
.other-hut {
  color: rgba(216, 216, 216, 0.5);
  border: 1px solid #202020;
}
.other-hut:hover {
  color: #d8d8d8;
}
.current-hut, .other-hut {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0.5ch;
  margin-right: 1ch;
  flex: 0 0 auto;
  cursor: pointer;
}
.current-hut:first-child, .other-hut:first-child {
  margin-top: auto;
}
.current-hut:last-child, .other-hut:last-child {
  margin-bottom: auto;
}
.selectgid {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gid-select {
  width: 13ch;
}
@media only screen and (max-width: 800px) {
  .right-menu {display: none}
  .our {display: none}
  textarea {margin-left: 1em}
  .msg {margin-left: 1ch; text-indent: initial}
  .who {width: initial}
  select {max-width: 14ch}
}
